# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.sqlite
*.db
*.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Byte-compiled / distribution files
*.egg
*.egg-info/
dist/
build/

# pip cache
pip-log.txt
pip-delete-this-directory.txt

# virtual environments
venv/
.envrc
